.input:focus {
    outline: none;
    border: #000000 solid 2px;
}

.superInput {
    margin: 10px;

    background: #ffff00;
    color: #000000;
}


.errorInput {
    margin: 0px;

    background: #ffff00;
    color: #000000;
    border: 2px solid #ff0000;
}

.error {
    color: #ff0000;
    height: 20px;
    margin-left: 5px;
}