.greeting{
    display: flex;
    align-items: flex-start;
}
.someClass {

}
.errorInput{
    margin: 10px;
    background: #39e600;
    color: skyblue;
    border: 2px solid red;
    outline: none;
}
.error {
    color: red;
    height: 20px;
    margin-left: 10px;
}
.input{
    margin: 10px;
    background: #9fff80;
    color: black;
}
.count{
    margin: 10px;
}
.button:disabled {
    color: seagreen;
}
.button:active{
    background:#00e600;
}
.button:focus{
    outline:  solid 1px;
}
.button{
    border-radius: 15px;
    margin: 10px;
    width: 60px;
    background: green;
    color: #ffffff;
    outline: none;
}