.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 24px;
    gap: 10px;
    height: 30px;
    border-radius: 3px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    flex: none;
    order: 0;
    flex-grow: 0;
    border: none;
    outline: none;


}

.disabled {
    opacity: 0.5;
}

.secondary {
    background: #Ffffff;
    border: 1px solid #0066CC;
    color: #0066CC;
}

.default {
    background: #0066CC;
    color: #FFFFFF;
}

.red {
    background: #CC1439;
    color: #FFFFFF;
}

.default:hover {
    background: #0080FF;
    border: 1px solid #0066CC;
}

.red:hover {
    background: #FF1A47;
}

.secondary:hover {
    background: #E5F0FA;
}


.default:active {
    background: #0059B3;
}

.secondary:active {
    background: #C9E5FF;
}

.red:active {
    background: #B31232;
}

.button:disabled {
    opacity: 0.5;
}